<div class="container">
    <div class="row justify-content-center">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center text-white">
                    <h1 class="mt-3 mb-3">Lista posts</h1>
                
                </div>
            </div>
        
    
        
        
        <div id="pacchetti-card" class="row justify-content-center">
            <!-- qui verranno mostrati gli elementi -->
        </div>

        <div class="container text-white">
            <h1 class="text-center">Puoi richiedere qui le tue informazioni</h1>

            <!--NAME-->
            <form id="offerForm" onsubmit="MandareDati(event)">
                <div class="row p-2">
                    
                   
                    
                    <div class="col-12 col-sm-6">
                        <label for="firstName">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="First name">
                    </div>


                    <div class="col-12 col-sm-6">
                        <label for="lastName">Cognome</label>
                        <input type="text" class="form-control" id="cognome" placeholder="Last name">
                    </div>

                </div>

                <!--EMAIL-->
                <div class="row p-2">

                    <div class="col-12">
                        <label for="emailAddress">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" id="email">
                    </div>
                </div>
                <!--TEXT-AREA-->
                <div class="row p-2">

                    <div class="col-12">
                        <label for="textArea">Message</label>
                        <textarea class="form-control" id="messaggio" rows="4"></textarea>
                    </div>

                </div>

                <!--BUTTON-->
                <div class="row p-2 text-center">

                    <div class="col">
                        <button type="submit" class="btn btn-warning text-center" id="bottone">Send</button>
                    </div>

                </div>

                
            </form>

        




    </div>
</div>






@section Scripts{


    <script type="text/javascript">
                var url = window.location.pathname;
                var idPacchetto = url.substring(url.lastIndexOf('/') + 1);
                console.log(idPacchetto);

        details(idPacchetto);
        
        
        function details(searchid){
            document.getElementById('pacchetti-card').innerHTML= '';

            axios.get('/api/User/Details', {
                params : {
                    id : searchid
                }
             }).then((result) => {
                console.log(result.data);
                console.log(result.data.image);
                var pacchetto = result.data;
                console.log(pacchetto);

                
                            document.getElementById('pacchetti-card').innerHTML =

                            `
                            <div class="col-12 col-sm-6 col col-lg-4 rounded ">
                                    
                                    <div class="card post gy-0 m-1">
                                        <img class="card-img-top" src="${pacchetto.image}" alt="" width="250" height="200">
                                        <div class="card-body p-0" style= "height: 15rem;">
                                            <h5 class="card-title bg-warning text-white p-3">${pacchetto.titolo}</h5>
                                            <p class="card-text text-muted">${pacchetto.description}</p>
                    
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <p class="text-warning"><strong>${pacchetto.giorni} - ${pacchetto.destinazioni}</strong> </p>
                                            <h5 class="text-muted"><strong>${pacchetto.prezzo} &euro;</strong>/person</h5> 
                                                
                                        </div>
                                    </div>
                                    
                            </div>
                            `



                        


                    });

        }

        function MandareDati(e){
            e.preventDefault();
            let nome = document.getElementById('nome').value;
            let cognome = document.getElementById('cognome').value;
            let email = document.getElementById('email').value;
            let messaggio = document.getElementById('messaggio').value;

            var richiesta ={
                nome : nome,
                cognome : cognome,
                email : email,
                messaggio : messaggio,
                PacchettoViaggioId : idPacchetto
            }

            axios.post('/api/User/MoreInfo', richiesta
            ).then((result) =>{
                console.log(result.data)
            })

        }
    
    
    
    
    </script>




}