<div class="container ml-5">
    <div class="row justify-content-center mt-4 text-white">
        <div class="col-12 text-center">
            <h2>Our amazing tours</h2>
        </div>
        <div class="col-6 text-center">
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ducimus aperiam veritatis culpa doloremque quae eum voluptatum optio incidunt, ad natus? Dolore esse sed optio nostrum quidem itaque consectetur quas!</p>
        </div>
    </div>
    <div id="pacchetti-wait" class="row text-center">
        <div class="col-12 text-white">
            <h3>Sto aspettando i miei pacchetti viaggi ...</h3>
        </div>
    </div>
    <div id="no-pacchetti-div" class="row text-center d-none">
        <div class="col-12 text-white">
            <h3>Non hai inserito nessuna pacchetto viaggi</h3>
        </div>
    </div>

    <div id="pacchetti-card" class="card-group d-none text-dark">
       
    </div>


</div>


@section Script{
    <script type="text/javascript">

        loadViaggi();
            function loadViaggi{
                axios.get('/api/User/Get').then((result) => {
                    console.log("Ho ricevuto i pacchetti viaggi");

                    result.data.forEach(pacchetti => {
                        document.getElementById('pacchetti-card').innerHTML +=
                        `
                            <div class="col-12 col-sm-6 col col-lg-3 rounded">
                                <div class="card post gy-0 m-1">
                                    <img class="card-img-top" src="${pacchetti.Image}" alt="" width="250" height="200">
                                    <div class="card-body p-0" style= "height: 15rem;">
                                        <h5 class="card-title bg-warning text-white p-3">${pacchetti.Titolo}</h5>
                                        <p class="card-text text-muted">${pacchetti.Description}</p>
                    
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <p class="text-warning"><strong>${pacchetti.Giorni} - ${pacchetti.Destinazioni}</strong> </p>
                                        <h5 class="text-muted"><strong>${pacchetti.Prezzo}/&euro;</strong>/person</h5> 
                                    </div>
                                </div>
                            </div>
                        `
                    })
                })
            }
           



    </script>
}









