<div class="container ml-5">
    <div class="row justify-content-center mt-4 text-white">
        <div class="col-12 text-center">
            <h2>Our amazing tours</h2>
        </div>
        <div>
            <input id="search_input" type="text" placeholder="Cerca per titolo...">
        </div>       
    </div>
    <div id="pacchetti-wait" class="row text-center">
        <div class="col-12 text-white">
            <h3>Sto aspettando i miei pacchetti viaggi ...</h3>
        </div>
    </div>
    <div id="no-pacchetti-div" class="row text-center d-none">
        <div class="col-12 text-white">
            <h3>Non hai inserito nessuna pacchetto viaggi</h3>
        </div>
    </div>

    <div id="pacchetti-card" class="card-group d-none text-dark">
       
    </div>


</div>


@section Scripts {
    <script type="text/javascript">

        document.getElementById("search_input").addEventListener('keyup', searchItems);

        searchItems();



            function searchItems(){
                var inputText = document.getElementById('search_input').value;
                loadViaggi(inputText);
            }

            function loadViaggi(searchParameter){
                document.getElementById('pacchetti-card').innerHTML = '';


                axios.get('/api/User/Get', {
                    params : {
                        search : searchParameter
                    }
                }).then((result) => {
                    console.log("Ho ricevuto i pacchetti viaggi");

                    if(result.data.lenght == 0){
                        document.getElementById('pacchetti-wait').classList.add('d-none')
                        document.getElementById('no-pacchetti-div').classList.remove('d-none')

                    }else{
                        document.getElementById('no-pacchetti-div').classList.add('d-none')
                        document.getElementById('pacchetti-wait').classList.add('d-none')
                        document.getElementById('pacchetti-card').classList.remove('d-none')
                    

                        result.data.forEach(pacchetti => {
                            document.getElementById('pacchetti-card').innerHTML +=
                            `
                                <div id="details" class="col-12 col-sm-6 col col-lg-4 rounded ">
                                    
                                        <div class="card post gy-0 m-1">
                                            <img class="card-img-top" src="${pacchetti.image}" alt="" width="250" height="200">
                                            <div class="card-body p-0" style= "height: 15rem;">
                                                <h5 class="card-title bg-warning text-white p-3">${pacchetti.titolo}</h5>
                                                <p class="card-text text-muted">${pacchetti.description}</p>
                    
                                            </div>
                                            <div class="card-footer justify-content-center">
                                                <p class="text-warning"><strong>${pacchetti.giorni} - ${pacchetti.destinazioni}</strong> </p>
                                                <h5 class="text-muted"><strong>${pacchetti.prezzo} &euro;</strong>/person</h5> 
                                                <a href="UserHome/Details/${pacchetti.id}" class="stretched-link"></a>
                                            </div>
                                        </div>
                                    
                                </div>
                            `
                        });
                    }
                }

                ).catch((error) => {
                    console.log("C'è stato un errore: " + error)
                });
            }
           
            


    </script>

}









