@model List<PacchettoViaggio>


<!--HEADER-->
    <div class="container ml-5">
        <div class="row justify-content-center mt-4">
            <div class="col-12 text-center">
                <h2>Our amazing tours</h2>
            </div>
            <div class="col-6 text-center">
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ducimus aperiam veritatis culpa doloremque quae eum voluptatum optio incidunt, ad natus? Dolore esse sed optio nostrum quidem itaque consectetur quas!</p>
            </div>
        </div>
